/* Base button styles */
button {
    background-color: #6928d9f1;
    color: #e0e0e0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px #e9e5e3;
    text-transform: uppercase;
    margin: 5px;
    transition: all 0.3s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    /* font-weight: bold; */
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(15, 238, 231, 0.598);
    text-align: justify;
}

/* Hover effect */
button:hover {
    box-shadow: 0 0 15px #e9e5e3;
    transform: scale(1.07);
}

/* Active effect */
button:active {
    background-color: #c03900;
    box-shadow: 0 0 30px #e9e5e3;
    transform: scale(0.95);
}

#button-section {
    width: 100%;
    max-width: 800px;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#submit-button {
    /* background-color: #45b930; */
    background: conic-gradient(from 90deg, rgba(0, 0, 0, 0.8) 10%, rgba(128, 0, 128, 0.6) 30%, rgba(15, 46, 200, 0.7) 60%, rgba(0, 0, 0, 0.8) 90%);
}

#twitter-button {
    background-color: #1DA1F2;
}

#connect-wallet-button {
    background-color: #FF5722;
}

/* Dropdown control styles */
#language-dropdown .Select-control {
    text-align: left;
    background-color: black !important; /* Make the background black */
    color: #969191 !important;  /* Set text color */
    border-radius: 5px;  /* Rounded corners */
    border: 1px solid #333; /* Dark border */
    height: 30px;
    width: 120px;
    box-sizing: border-box; /* Ensure padding and border are included in total height */
    margin-right: 0;
}

/* Hover effect for the dropdown control */
#language-dropdown .Select-control:hover {
    background-color: #444 !important;
    border-color: #666 !important;
    cursor: pointer;
}

/* Style for the dropdown options menu */
#language-dropdown .Select-menu {
    background-color: black !important;
    color: #716c6c !important;
    height: auto !important; /* Allow menu to expand based on content */
    max-height: none !important; /* Disable max-height */
    overflow-y: visible !important; /* No scroll */
}

/* Hover effect for each option in the dropdown */
#language-dropdown .Select-option:hover {
    background-color: #444 !important;
    color: #8c8989 !important;
}

#main-container {
    background-color: #0a0909;
    color: #e0e0e0;
    font-family: "Press Start 2P", monospace;
    padding: 20px;
    border: 2px solid #e9e5e3;
    border-radius: 10px;
    box-shadow: 0 0 20px #e9e5e3;
    position: relative;
}

#ca-header {
    color: #e0e0e0;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    /* margin-bottom: 10px; */
    text-shadow: 0 0 10px #e9e5e3;
    background-color: #1a1a1a;
    padding: 10px;
    border-radius: 5px;
}

#main-header {
    color: #e9e5e3;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    /* margin-bottom: 20px; */
    text-shadow: 0 0 10px #e9e5e3;
}

#subtitle {
    color: #e9e5e3;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 0 0 10px #e9e5e3;
}

#banner-image {
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 5px #e9e5e3;
}

#content-section {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}

#language-selection {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

#language-icon {
    width: 30px;
    height: 30px;
}

#game-logs {
    background-color: #1a1a1a;
    color: #76ff03;
    padding: 10px;
    border: 1px solid #e9e5e3;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: inset 0 0 10px #e9e5e3;
    margin-top: 10px;
    height: auto;
    min-height: 300px;
    overflow-y: auto;
    max-height: 800px;
}

#user-input {
    min-width: 60%;
    flex-grow: 1;
    padding: 10px;
    border-radius: "5px";
    border: 1px solid #e9e5e3;
    box-shadow: inset 0 0 10px #e9e5e3;
    border-radius: 5px;
    color: #e0e0e0;
    background-color: #1a1a1a;
    margin-right: 5px;
}

#submit-button-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

#dungeon-master-dialogue {
    color: #8c12bc;
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    white-space: pre-line;
    text-align: left;
    border-radius: 10px;
    padding: 20px;
    font-weight: bold;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

#dynamic-img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    padding-bottom: 5px;
    box-shadow: 0 0 20px #950392;
}

/* floating pixels */
.pixel {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgba(92, 4, 100, 0.8);
    animation: float 6s ease-in-out infinite;
    box-shadow: 0 0 10px #830476;
  }
  
  .pixel:nth-child(1) {
    top: 10%;
    left: 20%;
    animation-duration: 6s;
  }
  
  .pixel:nth-child(2) {
    top: 90%;
    left: 85%;
    animation-duration: 8s;
  }
  
  .pixel:nth-child(3) {
    top: 50%;
    left: 80%;
    animation-duration: 10s;
  }
  
  .pixel:nth-child(4) {
    top: 70%;
    left: 30%;
    animation-duration: 7s;
  }
  
  .pixel:nth-child(5) {
    top: 90%;
    left: 60%;
    animation-duration: 9s;
  }

  .pixel:nth-child(6) {
    top: 15%;
    left: 80%;
    animation-duration: 6s;
  }
  
  .pixel:nth-child(7) {
    top: 40%;
    left: 10%;
    animation-duration: 9s;
  }
  
  .pixel:nth-child(8) {
    top: 60%;
    left: 90%;
    animation-duration: 7s;
  }
  
  .pixel:nth-child(9) {
    top: 80%;
    left: 12%;
    animation-duration: 8s;
  }
  
  .pixel:nth-child(10) {
    top: 10%;
    left: 90%;
    animation-duration: 7s;
  }

  .pixel:nth-child(11) {
    top: 60%;
    left: 20%;
    animation-duration: 6s;
  }

  .pixel:nth-child(12) {
    top: 55%;
    left: 50%;
    animation-duration: 9s;
  }
  
  .pixel:nth-child(13) {
    top: 20%;
    left: 25%;
    animation-duration: 7s;
  }

  .pixel:nth-child(14) {
    top: 65%;
    left: 65%;
    animation-duration: 6s;
  }
  
  @keyframes float {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1; /* Start opacity */
    }
    50% {
      transform: translateY(-50px) rotate(180deg);
      opacity: 0.4; /* Start opacity */
    }
    100% {
      transform: translateY(0) rotate(360deg);
      opacity: 1; /* Start opacity */
    }
  }